API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=BQH5dJUAaY6zDeIsnuyZcnhEkPnj0ZBq4vE9moTaP6tTgGZ60u6xJBJb1A-wyURqphWM3W8A0HylbWIXuxBVX5slyJ1xYPMgy8UkI78JrvBV3vxnOJNO3iJL5xdNKQUdfcSZeRHxN53mfVY4hIKUoyP_pZNKYWfk85Bb0B7JAs6dv_CpXckkq8ywpziXmLHtsxWBxKTMoYl9SjFLISny-_HvNDYozCNputwHda-XcOHvQNYwLoPRv5qtesCwLR5GJZ1WnFyOvfEIhmlAw2pKbByPaURobQcYbJFXib1LS7EOjAOKzRav_Zkw4h-6BlUKjiOG7bfV_D97b9HtEKLgTY0s1t6k8gAAAAGX46YfAA

